<%
  email_value = resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email
%>

<body>
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 offset-lg-3 offset-md-2 offset-sm-1 col-xl-6 col-lg-6 col-md-8 col-sm-10">
        <%= inline_svg "logos/seasoned_logo.svg", class: "devise-logo" %> 

        <% if resource.errors.full_messages.present? %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <% resource.errors.full_messages.each do |error| %>
              <p class="mb-0 small text-white">
                <%= error %>
              </p>
            <% end %>
          </div>
        <% end %> 

        <main class="card devise-card">
          <div class="card-body">
            <p class="m-b text-sm-center"><%= t ".title" %></p>
            <%= form_for(resource,
                         as: resource_name,
                         url: confirmation_path(resource_name),
                         method: :post) do |f| %>

              <div class="form-group mb-4">
                <%= f.label :email, class: "mb-0" do %>
                  <small class="text-muted">
                    <%= t "devise.shared.label.email" %>
                  </small>
                <% end %>
                <%= f.email_field :email,
                                  autofocus: true,
                                  autocomplete: "email",
                                  class: "devise-input",
                                  value: email_value %>
              </div>

              <%= f.button t(".button"),
                           type: :submit,
                           class: "btn btn-block btn-primary" %>
            <% end %>
          </div>
        </main>

        <div class="pt-3 pb-4 text-center">
          <small>
            <%= link_to t("devise.shared.link.forgot_password"),
                        new_password_path(resource_name),
                        class: "text-warning" %>
          </small>
          <br>
          <small>
            <%= link_to t("devise.shared.link.sign_up"),
                        new_registration_path(resource_name),
                        class: "text-warning" %>
          </small>
        </div>

        <div>
          <p class="mb-1 text-center text-white">
            <%= t "devise.shared.text.confirmed_email" %>
          </p>
          <%= link_to t("devise.shared.button.log_in"),
                      new_session_path(resource_name),
                      class: "btn btn-outline-info text-white btn-block" %>

        </div>
      </div>
    </div>
  </div>
</body>
