<body>
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 offset-lg-3 offset-md-2 offset-sm-1 col-xl-6 col-lg-6 col-md-8 col-sm-10">
        <%= inline_svg "logos/seasoned_logo.svg", class: "devise-logo" %> 

        <main class="card devise-card">
          <div class="card-body">
            <p class="m-b text-sm-center"><%= t ".title" %></p>

            <%= form_for(resource, 
                as: resource_name,
                url: registration_path(resource_name), 
                html: { method: :put }) do |f| %>
              <span class="h6"><%= devise_error_messages! %></span>

              <div class="form-group mb-4">
                <%= f.label :email, class: "mb-0" do %>
                  <small class="devise-title">
                    <%= t "devise.shared.label.email" %>
                  </small>
                <% end %>
                <%= f.email_field :email,
                                  autocomplete: "off",
                                  class: "devise-input" %>
              </div>

              <div class="row">
                <div class="form-group mb-4 col-6">
                  <%= f.label :first_name, class: "mb-0" do %>
                    <small class="devise-title">
                      <%= t "devise.shared.label.first_name" %>
                    </small>
                  <% end %>
                  <%= f.text_field :first_name,
                                   autocomplete: "off",
                                   class: "devise-input" %>
                </div>

                <div class="form-group mb-4 col-6">
                  <%= f.label :last_name, class: "mb-0" do %>
                    <small class="devise-title">
                      <%= t "devise.shared.label.last_name" %>
                    </small>
                  <% end %>
                  <%= f.text_field :last_name,
                                   autocomplete: "off",
                                   class: "devise-input" %>
                </div>
              </div>

              <div class="form-group mb-4">
                <%= f.label :current_password, class: "mb-0 devise-title" do %>
                  <small class="">
                    <%= t "devise.shared.label.current_password" %>
                  </small>
                <% end %>
                <%= f.password_field :current_password,
                                      autofocus: true, 
                                      autocomplete: "off",
                                      class: "devise-input" %>
                <br />
                  <small class="text-highlight font-italic">
                    Enter to confirm changes
                  </small>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div class="alert alert-danger text-white">
                  Currently waiting on confirmation for: <%= resource.unconfirmed_email %>
                </div>
              <% end %>

              <div class="form-group mb-4">
                <%= f.label :new_password, class: "mb-0" do %>
                  <small class="devise-title">
                    <%= t "devise.shared.label.new_password" %>
                  </small>
                <% end %>
                <%= f.password_field :password, 
                                      autocomplete: "off",
                                      class: "devise-input" %>
                <% if @minimum_password_length %>
                  <br />
                  <small class="text-highlight font-italic">
                    <%= @minimum_password_length %> characters minimum
                  </small>
                <% end %>
              </div>

              <div class="form-group mb-4">
                <%= f.label :password_confirmation, class: "mb-0" do %>
                  <small class="devise-title">
                    <%= t "devise.shared.label.password_confirmation" %>
                  </small>
                <% end %>
                <%= f.password_field :password_confirmation, 
                                      autocomplete: "off",
                                      class: "devise-input" %>
              </div>

              <%= f.button t("Update"),
                           type: :submit,
                           class: "btn btn-block btn-primary mb-3" %>
            <% end %>

            <%= link_to "Cancel", recipes_path, class: "btn btn-block btn-info mb-4" %>

            <h3>Close my account</h3>

            <p> <%= t ".cancel" %><%= button_to "Close my account", registration_path(resource_name), class: "btn btn-block btn-outline-danger text-white", data: { confirm: "Are you sure?" }, method: :delete %></p>

        </div>
      </div>
    </div>
  </div>
</body>
