<body>
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 offset-lg-3 offset-md-2 offset-sm-1 col-xl-6 col-lg-6 col-md-8 col-sm-10">
        <%= inline_svg "logos/seasoned_logo.svg", class: "devise-logo" %> 

        <% if resource.errors.full_messages.present? %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <% resource.errors.full_messages.each do |error| %>
              <p class="mb-0 small text-white">
                <%= error %>
              </p>
            <% end %>
          </div>
        <% end %>

        <main class="card devise-card">
          <div class="card-body">
            <p class="m-b text-sm-center"><%= t ".title" %></p>

            <%= form_for(resource,
                         as: resource_name,
                         url: registration_path(resource_name)) do |f| %>

              <div class="row">
                <div class="form-group mb-4 col-6">
                  <%= f.label :first_name, class: "mb-0" do %>
                    <small class="devise-title">
                      <%= t "devise.shared.label.first_name" %>
                    </small>
                  <% end %>
                  <%= f.text_field :first_name,
                                   autofocus: true,
                                   autocomplete: "first_name",
                                   class: "devise-input" %>
                </div>

                <div class="form-group mb-4 col-6">
                  <%= f.label :last_name, class: "mb-0" do %>
                    <small class="devise-title">
                      <%= t "devise.shared.label.last_name" %>
                    </small>
                  <% end %>
                  <%= f.text_field :last_name,
                                   autocomplete: "last_name",
                                   class: "devise-input" %>
                </div>
              </div>

              <div class="form-group mb-4">
                <%= f.label :email, class: "mb-0" do %>
                  <small class="devise-title">
                    <%= t "devise.shared.label.email" %>
                  </small>
                <% end %>
                <%= f.email_field :email,
                                  autocomplete: "email",
                                  class: "devise-input" %>
              </div>

              <div class="form-group mb-4">
                <%= f.label :password, class: "mb-0" do %>
                  <small class="devise-title">
                    <%= t "devise.shared.label.password" %>
                  </small>
                <% end %>
                <%= f.password_field :password,
                                     autocomplete: "off",
                                     class: "devise-input" %>
                <% if @minimum_password_length %>
                  <br />
                  <small class="text-highlight font-italic">
                    <%= @minimum_password_length %> characters minimum
                  </small>
                <% end %>
              </div>

              <div class="form-group mb-4">
                <%= f.label :password_confirmation, class: "mb-0" do %>
                  <small class="devise-title">
                    <%= t "devise.shared.label.password_confirmation" %>
                  </small>
                <% end %>
                <%= f.password_field :password_confirmation,
                                     autocomplete: "off",
                                     class: "devise-input" %>
              </div>

              <div class="m-b-1">
                <%= f.invisible_captcha :name %>
              </div>

              <p class="mt-4 mb-2 text-center">
                <small>
                  <%= t ".by_clicking" %>
                  <a href target="_blank" class="text-warning">
                    <%= t ".terms_link" %>
                  </a>
                </small>
              </p>

              <%= f.button t(".button"),
                           type: :submit,
                           class: "btn btn-block btn-primary" %>
            <% end %>
          </div>
        </main>

        <div class="pt-3 pb-4 text-center">
          <small>
            <%= link_to t("devise.shared.link.resend_confirmation"),
                        new_confirmation_path(resource_name),
                        class: "text-warning" %>
          </small>
        </div>

        <div>
          <p class="mb-1 text-center text-white">
            <%= t "devise.shared.text.have_account" %>
          </p>
          <%= link_to t("devise.shared.button.log_in"),
                      new_session_path(resource_name),
                      class: "btn btn-outline-info text-white btn-block" %>

        </div>
      </div>
    </div>
  </div>
</body>
