<% content_for :head do %>
  <%= stylesheet_link_tag "pages/recipes/index", media: 'all',
                          'data-turbolinks-track': 'reload' %>
<% end %>

<div class="col-10 mx-auto mt-4">
  <h2 class="font-weight-bolder text-white">My Recipes</h2>
  <div>
    <div class="row">
      <% if @recipes.blank? %>
        <div class="col-xl-3 col-md-4 col-sm-6 mb-2">
          <div class="card border-4 border-info">
            <%= link_to new_recipe_path do %>
              <div class="card-body text-center">
                <i class="far fa-plus-square fa-3x mb-2 text-info"></i>
                <p class="card-title font-weight-bold text-white">Create Your First Recipe</p>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <% @recipes.each do |recipe| %>
          <div class="col-xl-3 col-md-4 col-sm-6 mb-2">
            <div class="card border-4 border-info h-100">
              <%= link_to recipe_path recipe do %>
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder text-white" title="<%= recipe.title %>"> <%= recipe.title %> </h5>
                  <div class="border-top w-25 pb-2">
                  </div>
                  <div class="card-text text-white font-weight-light font-space-md"><%= recipe.recipe_versions.count %> 
                    <% if recipe.recipe_versions.count == 1 %>
                      version
                    <% else %>
                      versions
                    <% end %>
                  </div>
                  <div class="card-text text-muted font-weight-light font-space-md">Created on <%= recipe.created_at.strftime("%b %-d, %Y") %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
