<div class="col-lg-6 col-md-8 col-sm-10 col-10 mx-auto mt-4">

  <div class="mb-2">
    <h2 class="font-weight-bolder mb-3">New Recipe</h2>
  </div>

  <% if @recipe.errors.present? %>
    <div class="alert alert-danger text-white">
      <% @recipe.errors.full_messages.each do |error| %>
        <p class="mb-0"><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mt-2 vueable">
    <%= form_for(@recipe, url: {action: "create"}, html: {class: "form"}) do |recipe_f| %>

      <%= recipe_f.label :title, "Name", class: "text-muted" %>
      <%= recipe_f.text_field :title, class: "recipe-input mb-3" %>

      <%= recipe_f.fields_for :recipe_versions do |recipe_version_f| %>

        <%= recipe_version_f.label :description, "Description",
                                   class: "text-muted" %>
        <%= recipe_version_f.text_field :description, class: "recipe-input" %>

        <ingredients-edit class="my-4"
        :original-recipe-ingredients="recipe.recipe_versions[0].recipe_ingredients"
        name-prefix="recipe[recipe_versions_attributes][0][recipe_ingredients_attributes]">
        </ingredients-edit>

        <steps-edit class="mt-4"
        :original-recipe-steps="recipe.recipe_versions[0].recipe_steps"
        name-prefix="recipe[recipe_versions_attributes][0][recipe_steps_attributes]">
        </steps-edit>
      <% end %>
      <div class="col-12 d-flex flex-column flex-sm-row justify-content-center justify-content-sm-end mb-2 mt-4 mt-sm-0">
        <%= link_to "Cancel", recipes_path, class: "btn btn-outline-danger btn-border-radius order-1 text-white d-block px-3 py-2 d-sm-flex justify-content-center align-items-center" %>
        <%= recipe_f.submit "Save", class: "btn btn-outline-primary btn-border-radius text-white order-0 order-sm-2 d-block px-3 py-2 mb-2 mb-sm-0 ml-sm-3 justify-content-center align-items-center" %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "components/ingredients/edit" %>
<%= render partial: "components/steps/edit" %>

<script>
  $(document).ready(function() {
    new Vue({
      el: $('.vueable')[0],
      data: { 
        recipe: gon.recipe
      }
    });
  });
</script>

<script type="text/javascript">
  var autoExpand = function (field) {

  // Reset field height
  field.style.height = 'inherit';

  // Get the computed styles for the element
  var computed = window.getComputedStyle(field);

  // Calculate the height
  var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
               + parseInt(computed.getPropertyValue('padding-top'), 10)
               + field.scrollHeight
               + parseInt(computed.getPropertyValue('padding-bottom'), 10)
               + parseInt(computed.getPropertyValue('border-bottom-width'), 10);
  field.style.height = height + 'px';
};
</script>

<script type="text/javascript">
  document.addEventListener('input', function (event) {
    if (event.target.tagName.toLowerCase() !== 'textarea') return;
    autoExpand(event.target);
  }, false);
</script>
