<div class="col-xl-8 col-10 mx-auto mt-4">
  <h2 class="font-weight-bolder text-white"><%= @recipe.title %></h2>
  <div>
    <div class="row">
      <% @recipe.recipe_versions.each_with_index do |recipe_version, index| %>
        <div class="col-12">
          <% if index > 0 %>
            <div class="text-center">
              <%= icon('fas', 'long-arrow-alt-down', class: 'fa-2x text-white') %>
            </div>
          <% end %>
          <div class="card border-4 border-info">
            <%= link_to recipes_v_path recipe_version do %>
              <div class="card-body">
                <h5 class="card-title font-weight-bolder text-white" title="<%= recipe_version.description %>">
                  <% if recipe_version.description.present? %>
                    <%= recipe_version.description %>
                  <% else %>
                    No description
                  <% end %>
                </h5>
                <div class="border-top w-25 pb-2">
                </div>
                <div class="card-text text-white font-weight-light font-space-md mb-1">
                  <% if recipe_version.locked_at.present? %>
                    <%= icon('fas', 'lock', class: 'mr-1 text-danger') %>
                    Recipe version locked
                  <% else %>
                    <%= icon('fas', 'unlock', class: 'mr-1 text-primary') %>
                    Recipe version unlocked
                  <% end %>
                </div>
                <div class="card-text text-muted font-weight-light font-space-md">
                  Created on <%= recipe_version.created_at.strftime("%b %-d, %Y") %>
                  <% if recipe_version.locked_at.present? %>
                  | Locked on <%= recipe_version.locked_at.strftime("%b %-d, %Y") %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
