<script type="text/x-template" id="ingredients-edit-component">
<div>
  <div class="d-flex flex-row">
    <h4>Ingredients</h4>
  </div>

  <!-- Column Headers -->
  <div class="row">
    <div class="col-3">
      <label class="text-muted d-none d-sm-flex">Amount</label>
      <label class="text-muted d-sm-none">Amt</label>
    </div>
    <div class="col-3">
      <label class="text-muted d-none d-sm-flex">Measurement</label>
      <label class="text-muted d-sm-none">Meas</label>
    </div>
    <div class="col-6">
      <label class="text-muted">Ingredient</label>
    </div>
  </div>

  <!-- Ingredients -->
  <div class="form-row mb-3 recipe-row" v-for="(recipeIngredient, index) in recipeIngredients"
       v-show="!recipeIngredients[index]._destroy">
    
    <!-- ID -->
    <input type="hidden"
            v-model="recipeIngredient.id"
            :name="namePrefixes[index] + '[id]'">

    <!-- Destroy -->
    <input type="hidden"
            value="1"
            v-if="recipeIngredients[index]._destroy"
            :name="namePrefixes[index] + '[_destroy]'">

    <!-- Amount -->
    <div class="col-3">
      <input step="0.05" min="0" max="9999.99" class="recipe-input" type="number"
             :id="'ingredient-amount-' + index"
             v-model="recipeIngredient.amount"
             :name="namePrefixes[index] + '[amount]'">
    </div>

    <!-- Measurement -->
    <div class="col-3">
      <select class="recipe-input"
              :id="'ingredient-measurement-' + index"
              v-model="recipeIngredient.ingredient_measurement_id"
              :name="namePrefixes[index] + '[ingredient_measurement_id]'">
        <% IngredientMeasurement.options_for_select.each do |system, measurements| %>
          <optgroup label="<%= system %>">
            <% measurements.each do |measurement| %>
              <option value="<%= measurement.id %>">
                <%= measurement.name %>
              </option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>

    <!-- Ingredient -->
    <div class="col-6">
      <input class="recipe-input" type="text"
             :id="'ingredient-name-' + index"
             v-model="recipeIngredient.ingredient.name"
             :name="namePrefixes[index] + '[ingredient_attributes][name]'">
    </div>

    <!-- Remove Button -->
    <button type="button" class="btn-sm btn-outline-warning ml-1 my-auto px-2 recipe-remove recipe-remove-ingredient"
            :class="{ invisible: index == 0 }"
            @click="removeIngredient(index)">
      <i class="fas fa-times text-danger"></i>
    </button>
  </div>
  <div class="d-flex flex-row">
    <button type="button" class="btn btn-outline-info btn-border-radius text-white btn-sm px-2 h-50"
            @click="addIngredient()">
      New Ingredient
    </button>
  </div>
</div>
</script>

<script type="text/javascript">
(function() {
  Vue.component('ingredients-edit', {
    template: '#ingredients-edit-component',
    props: {
      originalRecipeIngredients: { type: Array, required: true },
      namePrefix: { type: String, required: true }
    },
    data: function() {
      return {
        recipeIngredients: _.cloneDeep(this.originalRecipeIngredients)
      };
    },
    computed: {
      namePrefixes: function() {
        var that = this;
        return _.map(this.recipeIngredients, function(_ingredient, index) {
          return that.namePrefix + '[' + index + ']';
        });
      }
    },
    methods: {
      addIngredient: function() {
        this.recipeIngredients.push({
          ingredient: { name: "" }, amount: "", ingredient_measurement_id: <%= IngredientMeasurement.default_measurement.id %>
        });
      },
      removeIngredient: function(index) {
        if(this.recipeIngredients[index].id){
          Vue.set(this.recipeIngredients[index], "_destroy", true);
        } else {
          this.recipeIngredients.splice(index, 1);
        }
      }
    }
  });
})();
</script>
