<body>
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 offset-lg-3 offset-md-2 offset-sm-1 col-xl-6 col-lg-6 col-md-8 col-sm-10">
        <%= inline_svg "logos/seasoned_logo.svg", class: "devise-logo" %> 

        <% if resource.errors.full_messages.present? %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <% resource.errors.full_messages.each do |error| %>
              <p class="mb-0 small text-white">
                <%= error %>
              </p>
            <% end %>
          </div>
        <% end %> 

        <main class="card devise-card">
          <div class="card-body">
            <p class="m-b text-sm-center"><%= t ".title" %></p>
            <%= form_for(resource,
                         as: resource_name,
                         url: password_path(resource_name),
                         method: :put) do |f| %>

            <%= f.hidden_field :reset_password_token %>

              <div class="form-group mb-4">
                <%= f.label :password, class: "mb-0" do %>
                  <small class="text-muted">
                    <%= t "devise.shared.label.new_password" %>
                  </small>
                <% end %>
                <%= f.password_field :password,
                                     autocomplete: "off",
                                     autofocus: true,
                                     class: "devise-input" %>
              </div>

              <div class="form-group mb-4">
                <%= f.label :password_confirmation, class: "mb-0" do %>
                  <small class="text-muted">
                    <%= t "devise.shared.label.new_password_confirmation" %>
                  </small>
                <% end %>
                <%= f.password_field :password_confirmation,
                                     autocomplete: "off",
                                     class: "devise-input" %>
              </div>

              <%= f.button t(".button"),
                           type: :submit,
                           class: "btn btn-block btn-primary" %>
            <% end %>
          </div>
        </main>

        <div class="pt-3 pb-4 text-center">
          <small>
            <%= link_to t("devise.shared.link.log_in"),
                        new_session_path(resource_name),
                        class: "text-warning" %>
          </small>
          <br>
          <small>
            <%= link_to t("devise.shared.link.resend_confirmation"),
                        new_confirmation_path(resource_name),
                        class: "text-warning" %>
          </small>
        </div>

        <div>
          <p class="mb-1 text-center text-white">
            <%= t "devise.shared.text.no_account" %>
          </p>
          <%= link_to t("devise.shared.button.sign_up"),
                      new_registration_path(resource_name),
                      class: "btn btn-outline-info btn-block text-white" %>

        </div>
      </div>
    </div>
  </div>
</body>
