<script type="text/x-template" id="steps-edit-component">
<div>
  <div class="d-flex flex-row mb-2">
    <h4>Steps</h4>
  </div>

  <div v-for="(recipeStep, index) in recipeSteps" v-show="!recipeStep._destroy">

    <div class="d-flex flex-row mt-2 recipe-row">
      
      <!-- ID -->
      <input type="hidden"
              v-model="recipeStep.id"
              :name="namePrefixes[index] + '[id]'">

      <!-- Destroy -->
      <input type="hidden"
              value="1"
              v-if="recipeStep._destroy"
              :name="namePrefixes[index] + '[_destroy]'">

      <!-- Step -->
      <textarea class="form-control text-white recipe-textarea" row="2"
                :name="namePrefixes[index] + '[step_attributes][content]'"
                v-model="recipeStep.step.content">
      </textarea>

      <!-- Remove Button -->
      <button type=button class="btn-sm btn-outline-warning ml-1 my-auto px-2 recipe-remove recipe-remove-step"
              :class="{ invisible: index == 0 }"
              @click="removeStep(index)">
        <%= icon('fas', 'times', class: 'text-danger') %>
      </button>
    </div>
  </div>
  <button type=button class="btn btn-outline-info btn-border-radius text-white btn-sm mt-2 px-2 h-50"
          @click="addStep()">
    New Step
  </button>
</div>
</script>

<script type="text/javascript">
(function() {
  Vue.component('steps-edit', {
    template: '#steps-edit-component',
    props: {
      originalRecipeSteps: { type: Array, required: true },
      namePrefix: { type: String, required: true }
    },
    data: function() {
      return { recipeSteps: _.cloneDeep(this.originalRecipeSteps) };
    },
    computed: {
      namePrefixes: function() {
        var that = this;
        return _.map(this.recipeSteps, function(_step, index) {
          return that.namePrefix + '[' + index + ']';
        });
      }
    },
    methods: {
      addStep: function() {
        this.recipeSteps.push({ step: { content: "" } });
      },
      removeStep: function(index) {
        if(this.recipeSteps[index].id){
          Vue.set(this.recipeSteps[index], "_destroy", true);
        } else {
          this.recipeSteps.splice(index, 1);
        }
      }
    }
  });
})();
</script>
