<% if flash[:alert].present? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p class="mb-0 text-white"><%= flash[:alert] %></p>
  </div>
<% end %>

<% if flash[:notice].present? %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <p class="mb-0 text-white"><%= flash[:notice] %></p>
  </div>
<% end %>
