<% content_for :components, true %>

<div class="col-lg-6 col-md-8 col-sm-10 col-10 mx-auto mt-4">
  <div class="mb-2">
    <h2 class="mb-4"><span class="text-muted">New version of </span><span class="font-weight-bolder"><%= @recipe_version.recipe.title %></span> </h2>
  </div>

  <% if @recipe_version.errors.present? %>
    <div class="alert alert-danger text-white">
      <% @recipe_version.errors.full_messages.each do |error| %>
        <p class="mb-0"><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mt-2 vueable">
    <%= form_for(
          @recipe_version,
          url: recipes_v_versions_path(v_id: @recipe_version.parent_recipe_version.hashid),
          method: :post,
          html: { class: "form" }
        ) do |f| %>

      <%= f.label :description, class: "text-muted" %>
      <%= f.text_field :description, class: "recipe-input" %>

      <ingredients-edit class="mt-4"
                        :original-recipe-ingredients="recipeVersion.recipe_ingredients"
                        name-prefix="recipe_version[recipe_ingredients_attributes]">
      </ingredients-edit>

      <steps-edit class="mt-4"
                  :original-recipe-steps="recipeVersion.recipe_steps"
                  name-prefix="recipe_version[recipe_steps_attributes]">
      </steps-edit>

      <div class="col-12 d-flex flex-column flex-sm-row justify-content-center justify-content-sm-end mb-2 mt-4 mt-sm-0">
        <%= link_to "Cancel", recipes_v_path(@recipe_version.parent_recipe_version.hashid), class: "btn btn-outline-danger btn-border-radius order-1 text-white d-block px-3 py-2 d-sm-flex justify-content-center align-items-center" %>
        <%= submit_tag "Save", class: "btn btn-outline-primary btn-border-radius text-white order-0 order-sm-2 d-block px-3 py-2 mb-2 mb-sm-0 ml-sm-3 justify-content-center align-items-center" %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "components/ingredients/edit" %>
<%= render partial: "components/steps/edit" %>

<script>
  $(document).ready(function() {
    new Vue({
      el: $('.vueable')[0],
      data: { 
        recipeVersion: gon.recipe_version
      }
    });
  });
</script>

<script type="text/javascript">
  var autoExpand = function (field) {

  // Reset field height
  field.style.height = 'inherit';

  // Get the computed styles for the element
  var computed = window.getComputedStyle(field);

  // Calculate the height
  var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
               + parseInt(computed.getPropertyValue('padding-top'), 10)
               + field.scrollHeight
               + parseInt(computed.getPropertyValue('padding-bottom'), 10)
               + parseInt(computed.getPropertyValue('border-bottom-width'), 10);
  field.style.height = height + 'px';
};
</script>

<script type="text/javascript">
  document.addEventListener('input', function (event) {
    if (event.target.tagName.toLowerCase() !== 'textarea') return;
    autoExpand(event.target);
  }, false);
</script>
