<div class="mt-4">
  <div class="row">
    <div class="col text-right mt-1 d-none d-md-block">
      <div class="fa-stack fa-1x">
        <% if @recipe_version.locked_at.present? %>
          <%= icon('far', 'circle', class: 'text-danger fa-stack-2x') %>
          <%= icon('fas', 'lock', class: 'text-danger fa-stack-1x') %>
        <% else %>
          <%= icon('far', 'circle', class: 'text-primary fa-stack-2x') %>
          <%= icon('fas', 'unlock', class: 'text-primary fa-stack-1x') %>
        <% end %>
      </div>
    </div>

    <div class="col-10 mx-auto">

      <div class="text-left mt-1 d-block d-sm-block d-md-none">
        <div class="fa-stack fa-1x">
          <% if @recipe_version.locked_at.present? %>
            <%= icon('far', 'circle', class: 'text-danger fa-stack-2x') %>
            <%= icon('fas', 'lock', class: 'text-danger fa-stack-1x') %>
          <% else %>
            <%= icon('far', 'circle', class: 'text-primary fa-stack-2x') %>
            <%= icon('fas', 'unlock', class: 'text-primary fa-stack-1x') %>
          <% end %>
        </div>
      </div>

      <h1 class="font-weight-bolder"><%= @recipe_version.recipe.title %></h1>
      <div class="border-top w-25 pb-2">
      </div>
      <% if @recipe_version.description.present? %>
        <h5 class="font-weight-light"><%= @recipe_version.description %></h5>
      <% else %>
        <h5 class="font-weight-light">No description</h5>
      <% end %>
      <h6 class="text-muted font-weight-light">Created on <%= @recipe_version.created_at.strftime("%b %-d, %Y") %>
        <% if @recipe_version.locked_at.present? %>
        | Locked on <%= @recipe_version.locked_at.strftime("%b %-d, %Y") %>
        <% end %>
      </h6>

      <div class="row mt-4 mb-2">
        <div class="col-md-4 col-xs-10 mb-2">
          <div class="text-dark card h-100 bg-white border-0">
            <div class="card-body px-3 py-2">
              <h6 class="card-title mb-1">Ingredients</h6>
              <div class="col-5 border-top border-info pb-2"></div>
              <% @recipe_version.recipe_ingredients.each do |recipe_ingredient| %>
                <p class="mb-1 font-weight-light"> 
                  <%= number_with_precision(recipe_ingredient.amount, precision: 2, strip_insignificant_zeros: true) %> 
                  <%= recipe_ingredient.ingredient_measurement.name.pluralize(recipe_ingredient.amount) %>
                  <span class="font-weight-bold"><%= recipe_ingredient.ingredient.name %> </span>
                </p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-xs-10 mb-2">
          <div class="text-dark card h-100 bg-white border-0">
            <div class="card-body px-3 py-2">
              <h6 class="card-title mb-1">Steps</h6>
              <div class="col-1 border-top border-info pb-2">
              </div>
              <ol class="pl-3">
                <% @recipe_version.recipe_steps.each do |recipe_step| %>
                  <li class="mb-3 font-weight-light"> <%= recipe_step.step.content %> </li>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-4 order-2 order-sm-0 d-sm-flex justify-content-start">

          <!--All Versions Button-->
          <%= link_to recipe_path(@recipe_version.recipe.hashid), :class=>"btn btn-outline-info btn-border-radius text-white d-none d-sm-block px-3 py-2 d-sm-flex justify-content-center align-items-center" do %> 
            <%= icon('fas', 'angle-left', class: 'text-white mr-1') %> All Versions
          <% end %>

          <%= link_to recipe_path(@recipe_version.recipe.hashid), :class=>"btn btn-outline-info btn-border-radius text-white d-block d-sm-none px-2 py-2 mb-2 justify-content-center align-items-center" do %> 
            <%= icon('fas', 'angle-left', class: 'text-white mr-1') %> All Versions
          <% end %>
        </div>

        <div class="col-12 col-sm-8 order-1 mb-2 mb-sm-0 d-inline-flex justify-content-center justify-content-sm-end">

          <!--Previous Version Button-->
          <% if @recipe_version.parent_recipe_version_id > 0 %>
            <%= link_to recipes_v_path(RecipeVersion.find_by(id: @recipe_version.parent_recipe_version_id)), :class=>"btn btn-outline-info btn-border-radius text-white mt-0 mr-2 px-2 px-sm-3 py-2 d-flex justify-content-center align-items-center" do %>
              <%= icon('fas', 'angle-left', class: 'text-white mr-1') %> Previous Version
            <% end %>
          <% end %>

          <!--Next Version Button-->
          <% if @recipe_version.locked_at.present? && @recipe_version.child_recipe_version.present? %>
            <%= link_to recipes_v_path(@recipe_version.child_recipe_version.hashid), :class=>"btn btn-outline-info btn-border-radius text-white mt-0 px-2 px-sm-3 py-2 d-flex justify-content-center align-items-center" do %>
              Next Version <%= icon('fas', 'angle-right', class: 'text-white ml-1') %>
            <% end %>

          <!--Create New Version Button-->
          <% elsif @recipe_version.locked_at.present? %>
            <%= link_to "Create New Version",
                new_recipes_v_version_path(v_id: @recipe_version.hashid),
                :class=>"btn btn-outline-primary btn-border-radius text-white d-block px-2 px-sm-3 py-2 justify-content-center align-items-center" %> 

          <!--Edit & Lock Version Buttons-->
          <% else %>
            <!--Edit Version Button-->
            <%= link_to edit_recipes_v_path(@recipe_version.hashid), :class=>"btn btn-outline-primary btn-border-radius text-white d-block px-2 px-sm-3 py-2 mr-2 d-flex justify-content-center align-items-center" do %>
              Edit This Version
            <% end %>
            
            <!--Lock Version Button-->
            <button class="btn btn-outline-danger btn-border-radius text-white d-none d-block px-2 px-sm-3 py-2 d-flex justify-content-center align-items-center" id="create_version">Lock This Version</button>

            <%= form_for(
              @recipe_version,
              url: recipes_v_path(id: @recipe_version.hashid),
              method: :put,
              html: {
                id: "confirm_version",
                class: "d-none"
              }
            ) do |f| %>
              <%= f.hidden_field :locked, value: true %>
              <%= f.submit "Click to Confirm",
                  :class=>"btn btn-outline-danger btn-border-radius text-white d-block px-2 px-sm-3 py-2 justify-content-center align-items-center" %>
            <% end %>
          <% end %>

        </div>

      </div>

    </div>
    <div class="col d-none d-md-block">
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#create_version").click(function() {
      $(this).removeClass('d-block');
      $(this).removeClass('d-flex');
      $("#confirm_version").removeClass('d-none');
      $("#confirm_version").addClass('d-flex');
      setTimeout(relockRecipe, 4000)
    });
  });

  function relockRecipe() {
    $("#create_version").addClass('d-block');
    $("#create_version").addClass('d-flex');
    $("#confirm_version").addClass('d-none');
    $("#confirm_version").removeClass('d-flex');
  }
</script>
