<body>
  <div class="container pb-4">
    <div class="row">
      <div class="offset-xl-3 offset-lg-3 offset-md-2 offset-sm-1 col-xl-6 col-lg-6 col-md-8 col-sm-10">
        <%= inline_svg "logos/seasoned_logo.svg", class: "devise-logo" %> 

        <% if flash[:alert].present? %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p class="mb-0 text-white"><%= flash[:alert] %></p>
          </div>
        <% end %>

        <% if flash[:notice].present? %>
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <p class="mb-0 text-white"><%= flash[:notice] %></p>
          </div>
        <% end %>

        <main class="card devise-card">
          <div class="card-body">
            <p class="m-b text-sm-center"><%= t ".log_in" %></p>

            <%= form_for(resource,
                         as: resource_name,
                         url: session_path(resource_name)) do |f| %>

              <div class="form-group mb-4">
                <%= f.label :email, class: "mb-0" do %>
                  <small class="text-muted">
                    <%= t "devise.shared.label.email" %>
                  </small>
                <% end %>
                <%= f.email_field :email,
                                  autofocus: true,
                                  autocomplete: "email",
                                  class: "devise-input" %>
              </div>

              <div class="form-group mb-4">
                <%= f.label :password, class: "mb-0" do %>
                  <small class="text-muted">
                    <%= t "devise.shared.label.password" %>
                  </small>
                <% end %>
                <%= f.password_field :password,
                                     autocomplete: "off",
                                     class: "devise-input" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="form-group custom-control custom-checkbox">
                  <%= f.check_box :remember_me, class: "custom-control-input" %>
                  <%= f.label :remember_me, class: "custom-control-label" do %>
                    <small><%= t ".keep_logged_in" %></small>
                  <% end %>
                </div>
              <% end %>

              <%= f.button t(".button"),
                           type: :submit,
                           class: "btn btn-block btn-primary" %>
            <% end %>
          </div>
        </main>

        <div class="pt-3 pb-4 text-center">
          <small>
            <%= link_to t("devise.shared.link.forgot_password"),
                        new_password_path(resource_name),
                        class: "text-warning devise-link" %>
          </small>
          <br>
          <small>
            <%= link_to t("devise.shared.link.resend_confirmation"),
                        new_confirmation_path(resource_name),
                        class: "text-warning devise-link" %>
          </small>
        </div>

        <div>
          <p class="mb-1 text-center text-white">
            <%= t "devise.shared.text.no_account" %>
          </p>
          <%= link_to t("devise.shared.button.sign_up"),
                      new_registration_path(resource_name),
                      class: "btn btn-outline-info text-white btn-block" %>

        </div>
      </div>
    </div>
  </div>
</body>
