@import "application/colors";

.navbar {

  &-brand {
    width: 170px;
    fill: $white;
  }

  &-collapse {
    @media (max-width: 922px) {
      background-color: rgba($blueberry, 0.2);
    }
  }
}

.border-2 {
  border-width: 2px !important;
}

ul {
  li {
    &::before {
      display: none;
    }
  }
}
