@import "application/colors";

body {
}

.devise {

  height: 100%;
  min-width: 100%;
  min-height: 100%;

  &:before {
    background-image: image-url("bkgd/seasoned_devise_bkgd_lg.jpg");
    background-color: $black;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 900px;
    width: 100%;
    height: 100%;
    z-index: -2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  &:after {
    background-color: transparentize($black, 0.25);
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 900px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &-logo {
    display: block;
    width: 250px;
    margin: 50px auto;
    fill: $white;
  }

  &-card {
    background-color: rgba($blueberry, 0.4);
    border: 0;
  }

  &-title {
    color: $light-grey;
  }

  &-input {
    background: transparent;
    position: relative;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid $darkest-grey;
    width: 100%;
    height: 34px;
    padding: 2px;
    color: $white !important;

    &:focus {
      outline: none;
      border:  0;
      border-bottom: 1px solid $blueberry;
    }
  }
}

.alert {
  border-radius: 1rem;
  border: 0;

  &-info {
    background-color: rgba($blueberry, 0.5);
  }

  &-danger {
    background-color: rgba($grapefruit, 0.5);
  }

  &-warning {
    background-color: rgba($turmeric, 0.5);
  }

  &-dismissible {
    padding-right: 1.25rem;
  }
}

.is-invalid {
  color: $grapefruit;
}
