@import "application/colors";

.card {
  transition: background-color 0.4s ease;

  &:hover {
    background-color: rgba($blueberry, 0.2);
  }
}

.recipe {

  &-row {
    position: relative;
  }

  &-input {
    background: transparent;
    position: relative;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid $darkest-grey;
    width: 100%;
    height: 24px;
    padding: 2px;
    color: $white;

    &:focus {
      outline: none;
      border:  0;
      border-bottom: 1px solid $blueberry;
    }
  }

  &-textarea {
    background: transparent;
    border: 1px solid $darkest-grey;
    border-radius: 0.5rem;

    &:active, &:focus {
      border: 1px solid $blueberry;
      background: transparent;
      box-shadow: none;
    }
  }

  &-remove {
    background: none;
    transition: background-color 0.4s ease;
    box-shadow: none;
    position: absolute;

    &-ingredient {
      right: -1.75rem;
      bottom: .25rem;
    }

    &-step {
      right: -2.2rem;
      bottom: 1rem;
    }

    &:hover {
      background-color: rgba($grapefruit, 0.2);
    }

    &:active, &:focus {
      outline: none;
    }
  }
}

.alert {
  border-radius: 1rem;
  border: 0;

  &-danger {
    background-color: rgba($grapefruit, 0.5);
  }
}
