@import "application/colors";

ol {
  list-style: none;
  counter-reset: li;

  li {
    counter-increment: li;
    position: relative;
    margin-left: 1rem;
  }

  li::before {
    content: counter(li, decimal-leading-zero);
    display: inline-block;
    position: absolute;
    font-weight: 600;
    color: $dark-grey;
    border-right: .2rem solid $blueberry;
    right: calc(100% + .25rem);
    padding-right: .5rem;
    margin-right: .25rem;
  }
}

ul {
  list-style: none; /* Remove list bullets */

  li:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: .5rem;
    color: $blueberry;
  }
}

.recipe {

  &-row {
    position: relative;
  }

  &-input {
    background: transparent;
    position: relative;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid $darkest-grey;
    width: 100%;
    height: 24px;
    padding: 2px;
    color: $white;

    &:focus {
      outline: none;
      border:  0;
      border-bottom: 1px solid $blueberry;
    }
  }

  &-textarea {
    background: transparent;
    border: 1px solid $darkest-grey;
    border-radius: 0.5rem;

    &:active, &:focus {
      border: 1px solid $blueberry;
      background: transparent;
      box-shadow: none;
    }
  }


  &-remove {
    background: none;
    transition: background-color 0.4s ease;
    box-shadow: none;
    position: absolute;

    &-ingredient {
      right: -1.75rem;
      bottom: .25rem;
    }

    &-step {
      right: -2.2rem;
      bottom: 1rem;
    }

    &:hover {
      background-color: rgba($grapefruit, 0.2);
    }

    &:active, &:focus {
      outline: none;
    }
  }
}

.alert {
  border-radius: 1rem;
  border: 0;

  &-danger {
    background-color: rgba($grapefruit, 0.5);
  }
}
