$artichoke: #7dbb91;
$thyme: #6a8938;
$kidneybean: #973043;
$blueberry: #2e5c9a;
$turmeric: #f86f3f;
$grapefruit: #FE5F5B;
$sesame: #EBE2C3;

$peach: #FFB173;
$vanilla: #fffff3;
$mustard: #f6b22b;

$white: #F9F7F8;
$lightest-grey: #DAD8D9;
$lighter-grey: #BAB9BA;
$light-grey: #9B9A9B;
$dark-grey: #7C7B7D;
$darker-grey: #5D5C5E;
$darkest-grey: #3D3D3F;
$black: #131313;
$pitch-black: #000000;
