// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 922px,
  lg: 1200px,
  xl: 1600px
);

// Colors
$body-bg: $black;
$body-color: $vanilla;

$theme-colors: (
  "primary": $thyme,
  "secondary": $kidneybean,
  "info": $blueberry,
  "highlight": $mustard,
  "warning": $turmeric,
  "danger": $grapefruit,
  "light": $sesame,
  "dark": $dark-grey,
  "black": $black  
);

$color: (
  "white": $white,
  "black": $black,
  "gray": $light-grey,
  "gray-dark": $dark-grey
);

$text-muted:                        $light-grey;

// Font
$font-family-sans-serif:            'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:                 'Cormorant Garamond', Georgia, "Times New Roman", Times, serif;
$font-family-base:                  $font-family-sans-serif;

$font-weight-light:                 300;
$font-weight-normal:                500;
$font-weight-bold:                  600;
$font-weight-bolder:                800;

// Navbar
$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $thyme;
$navbar-dark-active-color:          $white;
$navbar-dark-toggler-border-color:  rgba($blueberry, 1);

// Dropdown
$dropdown-padding-y:                0;
$dropdown-bg:                       $body-bg;
$dropdown-border-color:             rgba($blueberry, .5);
$dropdown-border-radius:            1rem;
$dropdown-border-width:             2px;
$dropdown-divider-bg:               rgba($blueberry, .5);
$dropdown-divider-margin-y:         0;

$dropdown-link-color:               rgba($white, 0.85);
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            rgba($blueberry, .2);

$dropdown-link-active-color:        $white;
$dropdown-link-active-bg:           rgba($blueberry, .5);

$dropdown-item-padding-y:           .5rem;

// Cards
$card-border-width:                 4px;
$card-border-radius:                1rem;
$card-bg:                           rgba($white, 0);

// Buttons
$btn-border-radius:                 1.5rem;
$btn-border-radius-lg:              2rem;
$btn-border-radius-sm:              1.5rem;

$input-btn-border-width:            2px;

// Links
$link-hover-decoration:             none;

// Other

$grid-gutter-width:                 10px;

$spacer: 1.25rem;

$alert-bg-level:                    0;
$alert-border-level:                2;
$alert-color-level:                 6;
