<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :title %>
      <title>
        <%= yield :title %> | Seasoned
      </title>
    <% else %>
      <title>Seasoned</title>
    <% end %>
    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=vMOv160Bxx">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=vMOv160Bxx">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=vMOv160Bxx">
    <link rel="manifest" href="/site.webmanifest?v=vMOv160Bxx">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=vMOv160Bxx" color="#2e5c9a">
    <link rel="shortcut icon" href="/favicon.ico?v=vMOv160Bxx">
    <meta name="msapplication-TileColor" content="#2e5c9a">
    <meta name="theme-color" content="#2e5c9a">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,500,600,700|Montserrat:300,500,600,800" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if content_for? :components %>
      <%= javascript_include_tag 'components' %>
    <% end %>

    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>
  </head>

  <body>
    <%= Gon::Base.render_data %>
    <% if content_for? :body %>
      <%= yield :body %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
