<% content_for :head do %>
  <%= stylesheet_link_tag 'authenticated', media: 'all' %>
<% end %>

<% content_for :body do %>
  <div class="authenticated">

    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-black">
      <a class="navbar-brand pt-2" href="/recipes">
        <%= inline_svg "logos/seasoned_logo.svg" %>
      </a>

      <button class="navbar-toggler border-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-right">
          <li class="nav-item">
            <%= link_to "New Recipe", new_recipe_path, :class=>"d-md-none nav-link px-3 py-2" %>
          </li>

          <li class="nav-item">
            <%= link_to "New Recipe", new_recipe_path, :class=>"btn btn-outline-primary btn-border-radius text-white d-none d-md-block px-3 py-2 mx-3" %>
          </li>

          <li class="nav-item">
              <%= link_to "My Recipes", recipes_path, :class=>"nav-link mx-3 py-2", :id=>"myrecipes" %>
          </li>

          <li class="nav-item">
            <%= link_to "Profile", edit_user_registration_path, :class=>"d-md-none nav-link mx-3 py-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, :class=>"d-md-none nav-link text-muted mx-3 py-2", method: :delete %>
          </li>  

          <li class="nav-item dropdown d-none d-md-block">
            <button class="nav-link btn btn-outline-info text-white ml-2 px-3 py-2" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name.first %><%= current_user.last_name.first %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", edit_user_registration_path, :class=>"dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, :class=>"dropdown-item", method: :delete %>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
    <div class="nav p-4">
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
