<% content_for :head do %>
  <%= stylesheet_link_tag 'devise', media: 'all' %>
<% end %>

<% content_for :body do %>
  <body class="devise">
    <%= yield %>
  </body>
<% end %>

<%= render template: "layouts/application" %>
